.flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    @include mq(large) {
        justify-content: space-between;
    }
}