* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
 width: 98%;
 margin: 0 auto;
 background-color: rgb(230, 230, 230);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;
    margin: 20px 0 5px 10px;
    color: rgb(161, 204, 155);
    @include mq(large) {
        text-align: left;
    }
}

img {
    border-radius: 50%;
    border: 5px solid rgb(245, 245, 245);
    height: 72px;
    width: 72px;
    margin: 20px;
    @include mq(medium) {
        height: 100px;
        width: 100px;
    }
}

.searchName {
    display: none;
}